html {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

h3 {
    color: aqua;
    -moz-transform: scale(1) rotate(45deg) translateX(150px) translateY(150px) skewX(25deg) skewY(-25deg);
    -webkit-transform: scale(1) rotate(45deg) translateX(150px) translateY(150px) skewX(25deg) skewY(-25deg);
    -o-transform: scale(1) rotate(45deg) translateX(150px) translateY(150px) skewX(25deg) skewY(-25deg);
    -ms-transform: scale(1) rotate(45deg) translateX(150px) translateY(150px) skewX(25deg) skewY(-25deg);
    transform: scale(1) rotate(45deg) translateX(150px) translateY(150px) skewX(25deg) skewY(-25deg);

}


h1:hover {
    font-size: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
